<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Pizza App</title>
    </title>
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">

    <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <!-- Main Theme Styles + Bootstrap-->
</head>
<!-- Body-->

<header class="navbar  navbar-dark bg-dark mb-4 px-3 p-4"><a
        class="text-white" href="/" style="min-width: 7rem;">
        <b>Pizza App</b>
        </a>


</header>

{% block start %}


{% endblock %}

<div class="mt-5 pt-5">
<footer class="bg-dark shadow p-4 footer text-center mt-5 pt-5">
    <p class="text-white">Pizza App Codingwithcolleuage</p>
</footer>
</div>







<style>
    footer {
        /* position: absolute; */
   bottom: 0;
   width: 100%;
}
</style>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>